/* CSS 파일의 주석 */

#myid2{
    background-color: yellow;
    color: red;
    font-size: 20px;
}

/* 동적 선택지 */
/*  

input:focus{background-color: #0f9fff;}
input:focus{background-color: rgb(255,120,10);} */
input:focus{background-color: rgb(70%,20%,40%);}

a:link{ text-decoration: none;}
a:hover{ color: orange; font-size: 30px;}

/* 선택 연습 */
b{font-size: 8px;}
div b{font-size:16px;} /* div tag 자손들 모두 */
div > b{font-size:20px; color:green} /* div tag 직계자손만 해당 */
div b#hi{font-size: 24px;}
div b.hello{font-size: 40px;}